body {
    font-family: Arial, sans-serif;
    display: flex;

}


.trivial-container {
    text-align: center;
    background-color: rgb(35, 28, 28);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 700px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1 {
    color: white;
    font-size: 70px;
    margin: 20px 0;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.preguntaActual {
    background-color: #929982;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

lista-respuestas {
    list-style: none;
    padding: 0;
}

lista-respuestas li {
    background-color: #EDCBB1;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

lista-respuestas li:hover {
    background-color: #002500;
}

.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.feedback {
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.respuesta-correcta,
.respuesta-incorrecta {
    display: none;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.respuesta-correcta.animated,
.respuesta-incorrecta.animated {
    display: block;
}

.respuesta-correcta {
    background-color: #61E294;
    animation-name: fadeIn;
}

.respuesta-incorrecta {
    background-color: #FF6B6B;
    animation-name: fadeIn;
}

.feedback {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 150px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.feedback:hover {
    background-color: #34495e;

}