<div class="trivial-container">
    <h1>Trivial Game</h1>
    <div class="preguntaActual" *ngIf="preguntaActual && !finDelTrivial">
        <app-pregunta [texto]="preguntaActual.texto"></app-pregunta>
        <div class="respuesta-container">
            <lista-respuestas [respuestas]="preguntaActual.respuestas"
                (respuestaok)="onRespuestaSelect($event)"></lista-respuestas>
        </div>
    </div>
    <div class="feedback">
        <div *ngIf="respuestaCorrecta" class="respuesta-correcta animated">¡Respuesta Correcta!</div>
        <div *ngIf="respuestaIncorrecta" class="respuesta-incorrecta animated">Respuesta Incorrecta</div>
        <div *ngIf="finDelTrivial">
            <p>Puntos obtenidos: {{ puntosTotales }}</p>
            <p>Correctas: {{ respuestasCorrectas }}</p>
            <p>Incorrectas: {{ respuestasIncorrectas }}</p>
            <button (click)="reiniciarTrivia()">Volver a Jugar</button>
        </div>
    </div>
</div>